body {
	/* Vul hieronder het juiste plaatje naar de achtergrond img */
    background: #000 url('PathNaarPlaatje.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ee7600;
	font-weight:bold;
}

.container {
	background-color: rgba(122,122,122,0.3);
	padding:1em;
	margin: 0 auto;
}

.veryNiceButton {
	background-color:#fff;
}

.hidden {
	display: none;
}

.hidden a {
	color: #ffa500;
	font-weight:bold;
}
